# Backend
/backend/target/
/backend/.m2/
/backend/uploads/
/backend/.classpath
/backend/.project
/backend/.settings/

# Frontend
/frontend/node_modules/
/frontend/dist/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
